.aWBYJM3Th7WmLyY24Zis {
  background-color: #fff;
  padding: 32px 24px 8px;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}
.aWBYJM3Th7WmLyY24Zis .zVESEnCLVZsRuTYUjzlW {
  position: absolute;
  right: 24px;
  bottom: 18px;
}
.aWBYJM3Th7WmLyY24Zis .zVESEnCLVZsRuTYUjzlW button {
  margin-left: 24px;
}
.aWBYJM3Th7WmLyY24Zis .PKHigT9m1ShJb6dAzFBs {
  position: absolute;
  right: 24px;
}
.aWBYJM3Th7WmLyY24Zis .PKHigT9m1ShJb6dAzFBs button {
  margin-left: 24px;
}

.oBIcZpEHWa28_tCCUJZN {
  padding: 32px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

