.i_RZ7OqLxtf0QtsMx9Lg {
  height: 58px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.iFx9QWuN3rkDbruHxKnd {
  overflow: hidden;
  height: calc(100vh - 58px);
}
.iFx9QWuN3rkDbruHxKnd .BGCUdPTE8t2U1QxX0Q91 {
  overflow: auto;
  height: calc(100% - 78px);
}
.BBocqG8ga8REKXScIPgO {
  height: 58px;
  padding: 10px 28px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 999;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV {
  display: flex;
  align-items: center;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .OzUSkI_K7wZkE6azDnJr {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .OzUSkI_K7wZkE6azDnJr img {
  width: 32px;
  margin-right: 8px;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .r6PsesT1Swk8B0YJFYCP {
  margin: 0 24px;
  height: 58px;
  line-height: 58px;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  cursor: pointer;
  user-select: none;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .r6PsesT1Swk8B0YJFYCP .Ir3LKO1ONJpH8AzpilYv {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #4096ff;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .KbmCdHtUH4JIgWrPTlto {
  color: #4096ff;
}
.BBocqG8ga8REKXScIPgO .ja9HtPYs2pWHDtUwExiV .KbmCdHtUH4JIgWrPTlto .Ir3LKO1ONJpH8AzpilYv {
  animation-name: wN67QyFGTNW_nAN9idSd;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
.BBocqG8ga8REKXScIPgO .Plb73jE99IZSQ0M8LYaH {
  cursor: pointer;
}
.EdF97wikBKSjUm5eOYcW {
  padding: 4px 12px;
}
@keyframes wN67QyFGTNW_nAN9idSd {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

