.K1CsKynxnUkgrTUlnOg9 {
  min-height: 100vh;
  align-items: end;
  background-image: url(https://wanpan11.github.io/react-admin-tp/images/04a196a2c8f434d60b8a.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.K1CsKynxnUkgrTUlnOg9 .lHkv7XYB9CsC8EompYzJ {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 10% 10% 0 0;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  position: relative;
}
.K1CsKynxnUkgrTUlnOg9 .lHkv7XYB9CsC8EompYzJ .AWhXdE0cSvRqapOmrHIy {
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to right, #4096ff 0%, #00f2fe 100%);
  border-radius: 100%;
  transform: translate(-140px, -100px);
  position: absolute;
  opacity: 0.4;
}
.K1CsKynxnUkgrTUlnOg9 .lHkv7XYB9CsC8EompYzJ .ffVpDvqvb8eLQDicTKCx {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
}
.K1CsKynxnUkgrTUlnOg9 .yjBl1NTe5hIXRKfDH6Hg {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 38px;
}
.K1CsKynxnUkgrTUlnOg9 .QikpvPAmz6QOHjIjYXnw {
  margin-bottom: 12px;
}
.K1CsKynxnUkgrTUlnOg9 .Tk3bxh1Fh2Ryla6BMMke {
  margin-top: 38px;
  margin-bottom: 16px;
}

.PD7Zwn3nLIeh22qiFWOV {
  border: none;
  outline: none;
  border-inline-end-width: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none !important;
}
.PD7Zwn3nLIeh22qiFWOV:focus {
  box-shadow: none !important;
}

