.Ir3LKO1ONJpH8AzpilYv {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #4096ff;
}
.KbmCdHtUH4JIgWrPTlto .Ir3LKO1ONJpH8AzpilYv {
  animation-name: wN67QyFGTNW_nAN9idSd;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}
@keyframes wN67QyFGTNW_nAN9idSd {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

