name: CI

env:
  CI: false

on:
  push:
    branches: [main]

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: ESLintCode
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: npm install pnpm -g
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm build:homepage

      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: dist
